@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <div class="form-container">
        <div class="form-content">
            <label for="regionInput" class="form-label">Select Region</label>
            <select class="form-select" id="regionInput">
                <option value="0">Ru</option>
                <option value="1">Us</option>
                <option value="2">De</option>
            </select>

            <label for="errorsCountSlider" class="form-label">Select errors count</label>
            <input type="range" class="form-range" id="errorsCountSlider" step="0.25" value="0">

            <label for="errorsCountText" class="form-label">Select errors count</label>
            <input type="text" class="form-input form-control" id="errorsCountText" value="0">

            <label for="seedInput" class="form-label">Seed</label>
            <input type="text" class="form-input form-control" id="seedInput">

            <button type="button" class="btn btn-primary" id="randomSeed">Random seed</button>

            <button type="button" class="btn btn-success" id="createCsv">Download CSV</button>
        </div>
    </div>
    
    <table class="table" id="dataTable">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Id
            </th>
            <th>
                FullName
            </th>
            <th>
                Address
            </th>
            <th>
                Phone
            </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
